@media screen and (max-width:600px) {
   header div .container{
       display: block;
       flex-direction: row;
    }
     
    
    
}

@media (max-width:600px){
    header div .container{
        display: block;
        flex-direction: row;
     }
     .logo-img{
     display: block;   
     flex-direction: row;
    }
}

@media screen and (min-width:1000px){
    .descricao{
        width:60%;
    }
}
